<title>Yourname's Site</title>

<style>
    :root {
        background-color: black;
        color: white;
    }
    h1 {
        text-align: center;
        font-size: 230px;
    }
    h2 {
        font-size: 150px;
    }
    h3 {
        font-size: 150px;
    }
    h4 {
        font-size: 150px;
    }
    body {
        text-align: bottom;
        font-size: 30px;
    }
</style>




<h1>Contact</h1>
<h2>Phone: idk</h2>
<h3>Email: idk</h3>
<h4>Discord: idk</h4>







<body>
    Example Name's Page
    Coppyright - 2024
</body>